*{
    margin: 0;
    padding: 0;
}

body{

    background-color: #A7BCFB;
    font-size: 20px;
    font-weight: 400px;
    color: #04144D
}

.principal{
    background-image: url(img/1.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    height: 120vh;
    display:grid;
    grid-template-columns: 50% 50%;
}
.container_botao{
    text-decoration: none;
    background-color: #A7BCFB;
    border-radius:3px;
    padding:15px;
    color:#04144D;
    display:block;
 }
    .botao_secundario{
        text-decoration: none;
        background-color: transparent;
        border: 2px solid white;
 }
    .container_aviso{
        font-size: 10px;
}

